 <main>
    <div class="booking-hero-area">
    <div class="booking-ha-bg"></div>
</div>

<div class="contained-pad">
    <div class="booking-panel">
        <a ui-sref="FlightSearch">
            <i class="icon-flight-up"></i>
            <p>Flight search
                <span>Sarch for available flights to your destination</span>
            </p>
            <i class="icon-chevron-right-rounded"></i>
        </a>
    </div>

    <div class="booking-panel">
        <a ui-sref="HotelSearch">
            <i class="icon-hotel"></i>
            <p>Hotel search
                <span>Checkout out hotels that match your budget</span>
            </p>
            <i class="icon-chevron-right-rounded"></i>
        </a>
    </div>

    <div class="booking-panel">
        <a href="#">
            <i class="icon-train"></i>
            <p>Car search
                <span>Search for transportation from the airport</span>
            </p>
            <i class="icon-chevron-right-rounded"></i>
        </a>
    </div>

    <div class="booking-panel">
        <a href="#">
            <i class="icon-tag"></i>
            <p>Promotions
                <span>Subtitle here longer here</span>
            </p>
            <i class="icon-chevron-right-rounded"></i>
        </a>
    </div>
</div>

</main>